.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1.5s infinite ease-in-out;
}

/* Animação da tela de loading */

@keyframes pulse {
    0%, 100% {
      opacity: 0.3;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-5px);
    }
  }